@model User
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Role Profile</h1>

<div class="card">
    <div class="card-body">
        <form method="post" asp-action="Edit">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Password" class="font-weight-bold">New Password:</label>
                <input type="password" class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label  class="font-weight-bold">Confirm Password:</label>
                <input type="password" class="form-control" id="ConfirmPassword" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Mobile" class="font-weight-bold">Mobile:</label>
                <input type="tel" class="form-control" asp-for="Mobile" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success" onclick="return validatePasswords()">Save Changes</button>
            <a asp-action="Profile" asp-route-id="@Model.Id" class="btn btn-primary">Back</a>
        </form>
    </div>
</div>

<script>
    function validatePasswords() {
        var password = document.getElementById("Password").value;
        var confirmPassword = document.getElementById("ConfirmPassword").value;

        if (password !== confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
