@model List<Schedule>

<h1>Schedule</h1>
<select id="schedule-view-options" onchange="updateSchedulePartialView()">
    <option id="0">All Weeks</option>
    <option id="1">Current Week</option>
    <option id="2">Next Week</option>
</select>

<div id="table-view-container">
    <partial name="ViewScheduleTablePartialView" model="Model" />
</div>
<a class="btn btn-primary" asp-action="AddForm">Add New Day</a>
@section Scripts {
    <script>
        let deletes;
        function updateSchedulePartialView() {
            var selectedId = $('#schedule-view-options').children(':selected').attr('id');
            console.log(selectedId);
            let action;
            if (selectedId == 0) {
                $.ajax({
                    url: '@Url.Action("GetAllSchedules", "Schedule")',
                    type: 'GET',
                    success: function (result) {
                        $('#table-view-container').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }
            else if (selectedId == 1) {
                $.ajax({
                    url: '@Url.Action("GetCurrentWeekSchedules", "Schedule")',
                    type: 'GET',
                    success: function (result) {
                        $('#table-view-container').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }
            else {
                $.ajax({
                    url: '@Url.Action("GetNextWeekSchedules", "Schedule")',
                    type: 'GET',
                    success: function (result) {
                        $('#table-view-container').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }
        }
    </script>
}