@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Animated Login Form</title>
    <link rel="stylesheet" href="/css/Loginstyle.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .btn {
            color: white;
            transition: all 0.3s ease;
        }

            .btn:hover {
                color: white;
                transform: scale(1.1);
            }

        .error-message {
            color: red;
            font-weight: bold;
        }

            .error-message ul {
                list-style: none;
            }

    </style>
</head>
<body>
    <img class="wave" src="~/images/wavee.jpg">
    <div class="container">
        <div class="img">
            <img src="~/images/Reset password-pana.png">

        </div>
        <div class="login-content">

            <form asp-controller="Account" asp-action="Login" method="post">

                <img src="~/images/profile.jpg">
                <h3 class="title">Welcome</h3>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="input-group">
                        <input id="emailInput" asp-for="Email" placeholder="Enter your Email" />
         
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger font-weight-bold"></span>

                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <input asp-for="Password" placeholder="Enter your password" />
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger font-weight-bold"></span>
                
                <input type="submit" class="btn" value="Login">
                <span class="text-danger font-weight-bold ">@ViewBag.ErrorMessage</span>
                <span> <b>Don't Have Account? Register Now!</b> </span>
                <a asp-action="Register" asp-controller="Student" class="btn btn-danger">Register</a>

            </form>
        </div>
    </div>

    <script>
        const inputs = document.querySelectorAll(".input");


        function addcl() {
            let parent = this.parentNode.parentNode;
            parent.classList.add("focus");
        }

        function remcl() {
            let parent = this.parentNode.parentNode;
            if (this.value == "") {
                parent.classList.remove("focus");
            }
        }
    </script>
</body>
</html>

