@model Attendance

<h1>Edit Attendance</h1>
<form class="col-6" action="/StudentAffairs/EditAttendance">
   
    <input name="userId" value="@Model.UserId" hidden />
    <div class="form-control">
        <label asp-for="User.Name" class="form-label"></label>
        <input value="User.Name" readonly/>
    </div>

    <div class="form-control">
        <label asp-for="Date" class="form-label"></label>
        <input value="Date" readonly />
    </div>

    <div class="form-control">
        <label asp-for="Status" class="form-label"></label>
        
        <select asp-for="Status" class="form-select">
            @for(int i=0; i< Enum.GetValues<AttendanceStatus>().Length; i++)
            {
                <option value=Enum.GetValues(AttendanceStatus)[i]> Enum.GetNames(AttendanceStatus)[i] </option>
            }
        </select>

    </div>

    <div class="form-control">
        <input type="submit" class="btn btn-success"/>
        <a class="btn btn-outline-primary" href="/StudentAffairs?userId=@Model.UserId&date=@Model.Date">Back</a>
    </div>

</form>
