@model IEnumerable<UserAttendanceVM>

@{
    Layout = "_MainView";
}

@if (ViewBag.Tracks is null)
{
        <h2>No Tracks</h2>
}
else
{
    <div class="container">
        <h2>Attendance History</h2>
       @*  <div class="filter">
            <select id="trackSelect" asp-items="@ViewBag.Tracks"></select>
            <input type="text" id="nameSearch" placeholder="Search by Name">
            <input type="date" id="dateFilter">
        </div> *@
        <table id="dataTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>State</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (UserAttendanceVM user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.Status</td>
                        <td>
                            <a href="/StudentAffairs/EditAttendance?userId=@user.Id&date=@user.Date">
                                <img width="30" height="30" src="~/images/pen.png" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
